@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

body {
    /* background-color: #f9f9f900; */
    font-family: Roboto-Regular;
    /* font-style: Serif; */
    min-height: 100vh;
}

.logo {
    width: 650px;
}

#carousel {
    background-image: url('../images/dot-pattern.png');
    min-height: 500px;
}

.carousel-item {
    height: 70vh;
    min-height: 500px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-custom {
    background-color: #122964 !important;
    color: white !important;
}

.text-indent {
    text-indent: 25px;
}

nav {
    font-weight: 600;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: yellow;
}

.dropdown .dropdown-menu {
    background-color: #122964;
}

.dropdown .dropdown-menu a {
    color: #fff;
    border-color: #122964;
}

.dropdown .dropdown-menu .dropdown-item.active {
    color: yellow;
    border-color: #122964;
    text-decoration: none;
    background-color: #122964;
}

.dropdown .dropdown-menu a:hover {
    color: #fff;
    border-color: #122964;
    /* background-color: #0A0080; */
    background-color: #e6de09;
}

.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}

#page-content {
    flex: 1 0 auto;
}

.content-wrapper {
    background-color: white;
    height: 100%;
    min-height: 68vh;
    /* margin-bottom: 25px; */
}

#sticky-footer {
    margin-top: 10px;
    border-top-color: white;
    flex-shrink: none;
    background-color: #122964 !important;
}

.table .thead-blue th {
    color: #fff;
    background-color: #122964;
    border-color: #32383e;
}
